<div data-bind="if : isShowedDeliveryDateForm" class="box">
    <div style="">
        <span data-bind="i18n: 'Delivery Date'"></span>: <span data-bind="text: deliveryDate()" name="deliveryDate" id="deliveryDate"/></span><br>
        <span data-bind="i18n: 'Delivery Time'"></span>: <span data-bind="text: deliveryTime()" name="deliveryTime" id="deliveryTime"/></span><br>
        <span data-bind="i18n: 'Delivery Comment'"></span>: <span data-bind="text: deliveryComment()" name="deliveryComment" id="deliveryComment"/></span>
    </div>
</div>
